@import "./variables";

button {
  &:focus {
    outline: none !important;
  }
}

a {
  text-decoration: none !important;
}

.button {
  border: none !important;
  text-transform: capitalize;

  &--primary {
    background-color: $blue;

    &:hover {
      background: darken($blue, 5%) !important;
      color: white !important;
    }

    &:focus {
      background: darken($blue, 5%) !important;
      color: white !important;
    }
  }

  &--secondary {
    background-color: $pale-blue;

    &:hover {
      background: darken($pale-blue, 5%) !important;
      color: white !important;
    }

    &:focus {
      background: darken($pale-blue, 5%) !important;
      color: white !important;
    }
  }

  &--outlined {
    border: 1px solid $blue;
    background: transparent;
    color: $blue;

    &:hover {
      color: white !important;
      background: $blue !important;
    }

    &:focus {
      color: white !important;
      background: $blue !important;
    }
  }
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}
