$dark-blue: #021b2e;
$blue: #0F3F5B;
$light-blue: #176796;
$pale-blue: #18a0fb;
$dark-gray: #333333;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;